:root {
    --background-primary: #15141a;
    --background-secondary: #23222b;
    --border-primary: #52525e;
    --border-secondary: #3a3944;
    --border-tertiary: #e06633;
    
    --text-primary: #fbfbfe;
    --text-secondary: #cfcfd8;
    --filter-secondary: invert(89%) sepia(9%) saturate(163%) hue-rotate(202deg) brightness(96%) contrast(85%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: var(--text-primary);
    background-color: var(--background-primary);
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 300;
    line-height: 1.8rem;
}

a {
    text-decoration: none;
    color: var(--text-secondary);
}

a:hover {
    text-decoration: underline;
}

nav ul li a:hover,
.right a {
    text-decoration: none;
}

nav {
    display: flex;
    padding: 1.25rem;
    align-items: center;
}

.logo img{
    height: 30px;
    display: flex;
    align-items: center;
}


nav ul:nth-child(2) {
    margin-right: auto;
} 

.mode {
    
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav ul>* {
    margin-inline: 1rem;
    padding: .1rem .2rem;
    border-radius: .2rem;
}

nav ul>*:hover {
    background-color: var(--border-primary);
}

.search:hover {
    background-color: var(--background-primary);
}

input[type="search"] {
    background-color: var(--background-primary);
    border: 1px solid var(--border-primary);
    color: var(--text-primary);   
    border-radius: 20px;
    padding: .4rem 1rem;
    width: 10ch;
    caret-color: var(--border-tertiary);
    
}

input[type="search"]:focus {
    border-color: var(--border-tertiary);
    outline: none !important;
    width: auto;
}

input[type="search"] + img {
    filter: var(--filter-secondary);
    position: relative;
    right: 4ch;
    top: .8ch;
}

input[type="search"]::-webkit-search-cancel-button {
    appearance: none;
}

header .container {
    display: flex;
    background-color: var(--background-secondary);
    border-top: 1px solid var(--border-primary);
    border-bottom: 1px solid var(--border-primary);
}

header .container ul {
    display: flex;
    align-items: center;
    list-style: none;
}

header .container ul:nth-child(1) {
    margin-right: auto;
}

.filter-secondary {
    filter: var(--filter-secondary);
}

.carrot {
    height: .7rem;
    margin: auto .5rem auto -.5rem;
}

.language {
    height: 1rem;
    padding-top: .2rem;
}

.left ,
.right {
    margin-inline: 1rem;
}

.right {
    margin-top: .1rem;
    margin-bottom: .1rem;
    padding-inline: .3rem;
    border-radius: .2rem;

}

.right:hover {
    background-color: var(--border-primary);
}

.left-sidebar {
    bottom: 0;
    top: 14%;
    position: fixed;
    width: 28%;
    overflow-y: scroll;
    padding: 2rem;
    position: sticky;
    font-size: .8rem;
}

.left-sidebar ul:first-of-type {
    border-left: 1px solid var(--border-secondary);
}


.left-sidebar ul li {
    list-style-type: none;
    padding-left: 1rem;
}

.highlight {
    border-left: 1px solid var(--border-tertiary);
}

.left-sidebar a:hover {
    text-decoration: none;
    color: var(--border-tertiary);
}

h4 {
    text-transform: uppercase;
    color: var(--text-secondary);
    margin: 2rem auto 1rem auto;
}

.main-content {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 68%;
    position: absolute;
    top: 14%;
    left: 28%;
    overflow: scroll;
}

h1 {
    font-size: 2.8rem;
    padding-bottom: 2rem;
    font-weight: 300;
    line-height: 3rem;
}

h2 {
    font-weight: 300;
    padding-bottom: 1.4rem;
}

p {
    padding-bottom: 1rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.btn {
    padding: .4rem .5rem;
    border-radius: 5px;
    border: 1px solid var(--border-primary);
    color: var(--text-secondary);
    background: var(--background-secondary);
    text-decoration: underline;
    text-decoration-color: var(--border-tertiary);
    font-weight: bold;
}

.btn:hover {
    background: var(--border-primary);
    text-decoration: none;
    cursor:pointer;
}

table {
    margin-top: 2rem;
    border: 1px solid var(--border-secondary);
    border-collapse: collapse;
    margin-bottom: 3rem;
}

th, td {
    padding: .5rem;
    border: 1px solid var(--border-secondary);
}

th {
    background-color: var(--background-secondary);
}

p a {
    color: var(--border-tertiary);
    text-decoration: underline;
    text-decoration-color: var(--border-tertiary);
}